
.docReviewImageCellClass {
    text-align: center;
}

.doc-review-fa-icon {
    margin-top: 7px !important;
}

.doc-review-fa-icon-green{
    color:green;
}

.doc-review-fa-icon-red {
    color: red;
}

.fa-icon-danger {
    cursor: pointer;
    color: red;
}

.doc-review-buttons{
    margin-top:20px;
}

.checkListStatusCellClass {
    text-align: center;
}

.docReviewBold {
    font-weight: bold;
}

.docReviewBorderLess td, .docReviewBorderLess th {
    border: none !important;
}

.docReviewBorder td, .docReviewBorder th {
    border: 1px solid gainsboro !important;
}

.docReviewWidth5 {
    width: 5% !important;
}

.docReviewWidth15 {
    width: 15% !important;
}

.docReviewLeft {
    text-align: left !important;
}

.docReviewRight {
    text-align: right !important;
}

.docReviewCenter {
    text-align: center !important;
}

.docReviewCursor {
    cursor: pointer;
}

.docReviewFont {
    font-weight: normal !important;
}

.docButtonTopMargin{
    margin-top:16px;
}