.modal {
    overflow-y: hidden !important;
}

.modal-dialog {
    margin-top: 5% !important;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
    color: #262626 !important;
    background-color: #e9e7e7 !important;
}

.common {
    margin-bottom: 15px;
}

.btn-xs:hover {
    transform: scale(1.0);
}

.modal-heading {
    cursor: pointer;
    font-weight: 500;
}

.padding-6 {
    padding: 6px;
}

.padding-10 {
    padding: 10px;
}

.padding-12 {
    padding: 12px;
}

.padding-left-18 {
    padding-left: 18px;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.resize-none {
    resize: none;
}

.cursor-hover-pointer:hover {
    cursor: pointer;
}

.width-95p {
    width: 95%;
}

.text-right {
    text-align: right
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-8 {
    margin-top: 8px;
}

.subheading-color {
    color: #a94442;
}

.background-color {
    background-color: #eee;
}

.background-color-accordian {
    background-color: #e2eeee;
}

.btn-in-footer {
    background-color: #209e91 !important;
    margin-right: 10px;
}

.color-red {
    color: red;
}

.input-comment {
    margin-left: 20px;
    width: 95%;
    height: 100%;
}

.float-left {
    float: left;
}

.padding-left-right-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.width-10p {
    width: 10%;
}

.width-20p {
    width: 20%;
}

.padding-r-0 {
    padding-right: 0px !important;
}

.padding-left-5{
    padding-left:5px
}

.margin-left-5 {
    margin-left: 5px;
}

.white-space-pre-line {
    white-space:pre-line;
}

.all-comments {
    display: block;
    height: 85%;
    overflow-y: scroll;
}

.comment-on {
    width: 25%;
    text-align: right;
    font-style: italic;
    padding-right: 0px !important;
}

.table-margine {
    margin-top: 0px !important;
}

.comment-by {
    text-align: left !important;
    width: 45%;
    color: #060f52;
}

.table-checkbox {
    text-align: right;
    width: 15%;
}

.comments {
    text-align: left;
    background-color: #e9e7f3;
    text-align: left !important;
    white-space: pre-line;
}

.line-height-normal {
    line-height: normal;
}

.comment-send-to {
    padding-top: 30px;
    height: 115px !important;
}

.comment-toseller {
    padding-top: 20px;
}

.paddin-left-0 {
    padding-left: 0px !important;
}
